.p-entrace{
    &1{
        height: 100vh;
        @include center;
        position: relative;
        &__img{
            height: 140px;
            @include breakpoint(tab){
                height: 110px;
            }
            img{
                height: 100%;
                width: auto;
                max-width: 100%;
            }
        }
        
    }
    &2{
        @include center;

        height: 100vh;
        &__img{
            height: 140px;
            @include breakpoint(tab){
                height: 110px;
            }
            img{
                height: 100%;

                width: auto;
                max-width: 100%;
            }
        }
    }
    &3{
        @include center;

        height: 100vh;
    }
    &4{
        @include center;

        height: 100vh;
    }
    &__btn.c-btn2{
        color: #fff;
        margin: 0 auto;
        // border-color: #fff;
    }
}