.l-layout1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    &__left{
        width: 50%;
        @include breakpoint(pro){
            width: 100%;
        }
        @include breakpoint(proL){
            width: 50%;
        }
        @include breakpoint(tab){
            width: 100%;
        }
        @include breakpoint(tabL){
            width: 50%;
        }
    }
    &__right{
        width: 50%;
        @include breakpoint(pro){
            width: 100%;
        }
        @include breakpoint(proL){
            width: 50%;
        }
        @include breakpoint(tab){
            width: 100%;
        }
        @include breakpoint(tabL){
            width: 50%;
        }
    }
}