<%- include('./inc/_header-temp.ejs', {title:'Hasuku'})%>
<%- include('./inc/_mainvisual.ejs')%>
<div class="c-top-loading">
    <p class="c-paragraph">
        こちらのサイトでは「森の音」が流れます。<br>
        鳥の声、木々のそよめき、水のせせらぎなど、<br>
        自然のサウンドをお好みでブレンドしていただけます。<br>
        ボリュームを調整してお愉しみください。<br>
        <br>
        <br>
        ウイスキーとともに、くつろぎのひとときを。

    </p>
</div>
<main class="p-entrace" >
    <div id="fullpage">
        <section class="p-entrace1 vertical-scrolling">
                <div class="p-entrace1__img">
                    <img src="./assets/img/logo@2x.png" alt="">
                </div>
        </section>
        <section class="p-entrace3 vertical-scrolling">
                <div class="p-entrace3__content">
                    <p class="c-paragraph">
                        ここは、南アルプスのふもと、<br>
                        森に囲まれたサントリー白州蒸溜所に佇む、ギフトショップです。 <br><br>
                        みなさまと直接お会いできない日々が続くいま。<br>
                        ご自宅にいながらも、白州の森の自然と、<br>
                      ウイスキーと過ごす豊かな時間を味わっていただくための<br>
                        オンラインショップをオープンすることにいたしました。<br><br>
                        流れる風、透明感のある空気、光を受けて輝く木々の葉。<br>
                        季節や時間によって移ろいゆく白州の森を、<br>
                        めぐるような気分で散策してみてください。<br>
                    </p>
                </div>
        </section>
        <section class="p-entrace4 vertical-scrolling">
                <div class="p-entrace4__content">
                    
                    <a href="#" class="p-entrace__btn c-btn2">
                        Visit Shop
                        <span class="c-btn2__line1"></span>
                        <span class="c-btn2__line2"></span>
                    </a>
                </div>
        </section>

    </div>
</main>
<%- include('./inc/_footer.ejs')%>