<%- include('./inc/_header.ejs', {title:'Hakushu'})%>
<main class="p-top">
    <div class="p-top__content">
        <div class="l-layout1">
                <div class="l-layout1__left">
                    <div class="c-slide">
                        <div class="c-slide__item">
                            <img src="./assets/img/photo@2x.jpg" alt="">
                        </div>
                        <div class="c-slide__item">
                            <img src="./assets/img/photo@2x.jpg" alt="">
                        </div>
                        <div class="c-slide__item">
                            <img src="./assets/img/photo@2x.jpg" alt="">
                        </div>
                    </div>
                    <div class="c-slide__controller">
                        <div class="c-slide__controller1">
                            <span></span>
                        </div>
                        <div class="c-slide__controller2 is-hide">
                            <span class="c-slide__current">1</span>/<span class="c-slide__totak">3</span>
                        </div>
                    </div>
                </div>
                <div class="l-layout1__right row">
                    <div class="p-top__image col-xs-12 col-md-6 ">
                        <img src="./assets/img/item/1@2x.jpg" alt="">
                        <p>
                            白州森香るハイボールを、ご自宅でも。
                        </p>
                    </div>
                    <div class="p-top__image col-xs-12 col-md-6 ">
                        <img src="./assets/img/item/1@2x.jpg" alt="">
                        <p>
                            白州森香るハイボールを、ご自宅でも。
                        </p>
                    </div>
                    <div class="p-top__image col-xs-12 col-md-6 ">
                        <img src="./assets/img/item/1@2x.jpg" alt="">
                        <p>
                            白州森香るハイボールを、ご自宅でも。
                        </p>
                    </div>
                    <div class="p-top__image col-xs-12 col-md-6 ">
                        <img src="./assets/img/item/1@2x.jpg" alt="">
                        <p>
                            白州森香るハイボールを、ご自宅でも。
                        </p>
                    </div>
                    <div class="p-top__image col-xs-12 col-md-6 ">
                        <img src="./assets/img/item/1@2x.jpg" alt="">
                        <p>
                            白州森香るハイボールを、ご自宅でも。
                        </p>
                    </div>
                    <div class="p-top__image col-xs-12 col-md-6 ">
                        <img src="./assets/img/item/1@2x.jpg" alt="">
                        <p>
                            白州森香るハイボールを、ご自宅でも。
                        </p>
                    </div>
                    <div class="p-top__image col-xs-12 col-md-6 ">
                        <img src="./assets/img/item/1@2x.jpg" alt="">
                        <p>
                            白州森香るハイボールを、ご自宅でも。
                        </p>
                    </div>
                    <div class="p-top__image col-xs-12 col-md-6 ">
                        <img src="./assets/img/item/1@2x.jpg" alt="">
                        <p>
                            白州森香るハイボールを、ご自宅でも。
                        </p>
                    </div>
                    <div class="p-top__image col-xs-12 col-md-6 ">
                        <img src="./assets/img/item/1@2x.jpg" alt="">
                        <p>
                            白州森香るハイボールを、ご自宅でも。
                        </p>
                    </div>
                    <div class="p-top__image col-xs-12 col-md-6 ">
                        <img src="./assets/img/item/1@2x.jpg" alt="">
                        <p>
                            白州森香るハイボールを、ご自宅でも。
                        </p>
                    </div>
                    <div class="p-top__image col-xs-12 col-md-6 ">
                        <img src="./assets/img/item/1@2x.jpg" alt="">
                        <p>
                            白州森香るハイボールを、ご自宅でも。
                        </p>
                    </div>
                </div>
        </div>
    </div>
</main>
<%- include('./inc/_footer.ejs')%>