<%- include('./inc/_header.ejs', {title:'Hakushu'})%>
<main class="p-item">
    <div class="p-item__content">
        <div class="l-layout1">
                <div class="l-layout1__left">
                    <div class="c-slide">
                        <div class="c-slide__item">
                            <img src="./assets/img/item/product1.jpg" alt="">
                        </div>
                        <div class="c-slide__item">
                            <img src="./assets/img/photo@2x.jpg" alt="">
                        </div>
                        <div class="c-slide__item">
                            <img src="./assets/img/item/product1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="l-layout1__right row">
                    <div class="p-item__right" id="item">
                        <div class="c-info vertical-scrolling">
                            <h3 class="c-title text-animation">
                                白州森香るハイボールを、<br>
                                ご自宅でも。
                            </h3>
                            <span class="c-info__name">
                                白州うすづくりタンブラー
                            </span>
                            <p class="c-info__price">
                                ¥ 1,296 <span>(税込)</span>
                            </p>
                            <div class="c-info__variants">
                                <div class="makeshop-option-wrap">
                                    <p class="makeshop-option-label">Color : </p>
                                    <label class="makeshop-option-select-wrap">
                                        <select data-id="makeshop-item-option1" class="makeshop-option-select">
                                            <!-- <option value="0"
                                                class="makeshop-option-select-item makeshop-option-select-title">
                                                --選択してください
                                            </option> -->
                                            <option value="0" class="makeshop-option-select-item" selected="">
                                                Black
                                            </option>
                                            <option value="1" class="makeshop-option-select-item">
                                                White
                                            </option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <a href="#" class="c-btn">ADD TO CART</a>
                        </div>
                        <div class="c-detail vertical-scrolling">
                             <p class="c-detail__text">
                                透き通るグリーンが印象的なグラスは、<br>
                                緑豊かな白州の森をイメージしました。<br>
                                薄くて口あたりがよく、ハイボールの爽快さを<br>
                                いっそう際立たせます。<br>
                             </p>
                             <div class="c-detail__info">
                                    <div class="c-detail__item">
                                            <span>
                                                原産国：
                                            </span>
                                            <p>
                                                日本
                                            </p>
                                    </div>
                                    <div class="c-detail__item">
                                            <span>
                                                素材：
                                            </span>
                                            <p>
                                                クリスタルガラス
                                            </p>
                                    </div>
                                    <div class="c-detail__item">
                                            <span>
                                                容量：
                                            </span>
                                            <p>
                                                約255ml
                                            </p>
                                    </div>
                                    <div class="c-detail__item">
                                            <span>
                                                製造元：
                                            </span>
                                            <p>
                                                カガミクリスタル株式会社
                                            </p>
                                    </div>
                             </div>
                             <p class="c-detail__more">
                                ガラス製造の特性上、外観の仕上がりやサイズ、形状などに若干の個体差が生じたり、やむを得ず <br>
                                小さな気泡などの混入がございます。使用上問題はありません。<br>
                                ガラスの特性により、若干白く曇っている場合がございますが、人体に影響を及ぼすものではござい<br>
                                ません。洗浄することにより曇りは軽減されます。<br>
                            </p>
                            <div class="c-detail__img">
                                <img src="./assets/img/detail@2x.png" alt="">
                            </div>
                            <a class="c-detail__back-btn" href="#"> <span><</span> Back to List</a>

                            <div class="c-detail__footer">
                                <div class="p-breadcrumb">
                                    <a href="#">Guide</a>
                                    <a href="#">Privacy Policy</a>
                                    <a href="#">Trade Law</a>
                                    <a href="#">Contact</a>
                                </div>
                                <div class="p-copyright">
                                    COPYRIGHT © SUNTORY HOLDINGS LIMITED.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-scroll1">
                        <p>SCROLL</p>
                        <div class="c-scroll1__line">
                            <span></span>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</main>
<%- include('./inc/_footer-item.ejs')%>