
<!--▼ Footer ▼-->
<div class="c-footer footer ">
    <div class="p-footer ">
        <div class="p-footer__content u-flex u-between">
            <div class="p-footer__breadcrumb">
                <a href="#">Guide</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Trade Law</a>
                <a href="#">Contact</a>
            </div>
            <div class="p-footer__copyright">
                COPYRIGHT © SUNTORY HOLDINGS LIMITED.
            </div>
        </div>
    </div>
</div>
<!--▲ Footer ▲-->


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="assets/js/fullpage.js"></script>
<script src="assets/js/main.js"></script>

</body>

</html>