<!--▲ Footer ▲-->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="assets/js/fullpage.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="assets/js/main.js"></script>

</body>

</html>