<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://use.typekit.net/nix0jyu.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <script>
        (function (d) {
            var config = {
                kitId: "yey1qcp",
                scriptTimeout: 3000,
                async: true,
            },
                h = d.documentElement,
                t = setTimeout(function () {
                    h.className =
                        h.className.replace(/\bwf-loading\b/g, "") +
                        " wf-inactive";
                }, config.scriptTimeout),
                tk = d.createElement("script"),
                f = false,
                s = d.getElementsByTagName("script")[0],
                a;
            h.className += " wf-loading";
            tk.src = "https://use.typekit.net/" + config.kitId + ".js";
            tk.async = true;
            tk.onload = tk.onreadystatechange = function () {
                a = this.readyState;
                if (f || (a && a != "complete" && a != "loaded")) return;
                f = true;
                clearTimeout(t);
                try {
                    Typekit.load(config);
                } catch (e) { }
            };
            s.parentNode.insertBefore(tk, s);
        })(document);
    </script>
</head>

<body>
  
  <!--▼ Header ▼-->
<header class="c-header">
        <!-- <div class="l-container"> -->
        <div class="c-header__content u-flex u-between">
            <a href="#" class="p-header__logo ">
                <img src="./assets/img/logo.png" alt="logo" />
            </a>
            <div class="c-header__gnav u-flex u-a-center ">
                <a href="#">Account</a>
                <a href="#">Cart (0)</a>
            </div>
        </div>
        <!-- </div> -->
</header>