<div class="c-mainvisuals">
    <img src="./assets/img/bg@2x.jpg" alt="" class="c-mainvisuals__bg">
    <%- include("_scroll1.ejs") -%>
    <p class="c-mainvisuals__copyright">
        © SUNTORY HOLDINGS LIMITED.
    </p>
</div>