<div class="c-mainvisuals">
    <img src="./assets/img/bg@2x.jpg" alt="" class="c-mainvisuals__bg">
    <div class="c-mainvisuals__bottom">
        <%- include("_sound.ejs") -%>
        <%- include("_scroll1.ejs") -%>
        <p class="c-mainvisual-copyright">
            © SUNTORY HOLDINGS LIMITED.
        </p>
    </div>
</div>