<div class="c-sound">
    <div class="c-sound__action">
        <img class="c-sound__action__icon js-sound-icon" src="./assets/img/icon/sound@2x.png" alt="">
        <span class="c-paragraph">森の音</span>
    </div>
    <div class="c-sound__content">
            <p class="c-paragraph">
                森の音
            </p>
            <div class="c-sound__type  ">
                <div class="c-sound__item is-on">
                    <img class="c-sound__item--on" src="./assets/img/icon/forest-on@2x.png" alt="">
                    <img class="c-sound__item--off" src="./assets/img/icon/forest-off@2x.png" alt="">
                    <input type="range" id="volume" name="volume"
         min="0" max="100" value="50" class="c-sound__volume">
                </div>
                <div class="c-sound__item is-on">
                    <img class="c-sound__item--on" src="./assets/img/icon/rain-on@2x.png" alt="">
                    <img class="c-sound__item--off" src="./assets/img/icon/rain-off@2x.png" alt="">
                    <input type="range" id="volume" name="volume"
                    min="0" max="100" value="50" class="c-sound__volume">
                </div>
                <div class="c-sound__item is-on">
                    <img class="c-sound__item--on" src="./assets/img/icon/night-on@2x.png" alt="">
                    <img class="c-sound__item--off" src="./assets/img/icon/night-off@2x.png" alt="">
                    <input type="range" id="volume" name="volume"
                    min="0" value="50" max="100" class="c-sound__volume">
                </div>
                <div class="c-sound__item is-on">
                    <img class="c-sound__item--on" src="./assets/img/icon/river-on@2x.png" alt="">
                    <img class="c-sound__item--off" src="./assets/img/icon/river-off@2x.png" alt="">
                    <input type="range" id="volume" name="volume"
                    min="0" value="50" max="100" class="c-sound__volume">
                </div>
                <div class="c-sound__item is-on">
                    <img class="c-sound__item--on" src="./assets/img/icon/forest-on@2x.png" alt="">
                    <img class="c-sound__item--off" src="./assets/img/icon/forest-off@2x.png" alt="">
                    <input type="range" id="volume" name="volume"
                    min="0" value="50" max="100" class="c-sound__volume">
                </div>
                <div class="c-sound__item is-on">
                    <img class="c-sound__item--on" src="./assets/img/icon/fire-on@2x.png" alt="">
                    <img class="c-sound__item--off" src="./assets/img/icon/fire-off@2x.png" alt="">
                    <input type="range" id="volume" name="volume"
                    min="0" value="50" max="100" class="c-sound__volume">
                </div>
            </div>
            <div class="c-sound__handle is-on">
                <p>SOUND</p>
                <span class="c-sound__handle--on">ON</span>/<span class="c-sound__handle--off">OFF</span>
            </div>
        </div>
        <div class="c-sound__close">
            <img src="./assets/img/icon/close@2x.png" alt="">
        </div>
</div>