<div class="c-sound">
    <div class="c-sound__content">
            <p class="c-paragraph">
                森の音
            </p>
            <div class="c-sound__type  ">
                <div class="c-sound__item is-on">
                    <img class="c-sound__item--on" src="./assets/img/icon/forest-on@2x.png" alt="">
                    <img class="c-sound__item--off" src="./assets/img/icon/forest-off@2x.png" alt="">
                    <span class="c-sound__line"></span>
                </div>
                <div class="c-sound__item is-on">
                    <img class="c-sound__item--on" src="./assets/img/icon/rain-on@2x.png" alt="">
                    <img class="c-sound__item--off" src="./assets/img/icon/rain-off@2x.png" alt="">
                    <span class="c-sound__line"></span>
                </div>
                <div class="c-sound__item is-on">
                    <img class="c-sound__item--on" src="./assets/img/icon/night-on@2x.png" alt="">
                    <img class="c-sound__item--off" src="./assets/img/icon/night-off@2x.png" alt="">
                    <span class="c-sound__line"></span>
                </div>
                <div class="c-sound__item is-on">
                    <img class="c-sound__item--on" src="./assets/img/icon/river-on@2x.png" alt="">
                    <img class="c-sound__item--off" src="./assets/img/icon/river-off@2x.png" alt="">
                    <span class="c-sound__line"></span>
                </div>
                <div class="c-sound__item is-on">
                    <img class="c-sound__item--on" src="./assets/img/icon/forest-on@2x.png" alt="">
                    <img class="c-sound__item--off" src="./assets/img/icon/forest-off@2x.png" alt="">
                    <span class="c-sound__line"></span>
                </div>
                <div class="c-sound__item is-on">
                    <img class="c-sound__item--on" src="./assets/img/icon/fire-on@2x.png" alt="">
                    <img class="c-sound__item--off" src="./assets/img/icon/fire-off@2x.png" alt="">
                    <span class="c-sound__line"></span>
                </div>
            </div>
            <div class="c-sound__action is-on">
                <p>SOUND</p>
                <span class="c-sound__action--on">ON</span>/<span class="c-sound__action--off">OFF</span>
            </div>
        </div>
        <div class="c-sound__close">
            <img src="./assets/img/icon/close@2x.png" alt="">
        </div>
</div>