//baseWidth
$baseWidth: 1140px;
$ipadPro: 1200px;
$ipad: 812px;
$sp: 450px;

$mainFonts: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
$font1: ryo-text-plusn, serif; 
$font2: linotype-sabon, serif;
$font3: linotype-sabon, serif; // adobe 
$font4: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",
    "メイリオ", "Meiryo", sans-serif;
//color common
$mainColor: #004229;
//grid
$col-grid: 12;
$gutter: 10px;
